<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    {% if request.user.is_authenticated %}
      {% if request.user.user_type == 'admin' %}
        <a class="navbar-brand" href="{% url 'admin_dashboard' %}">TappedIn</a>
      {% elif request.user.user_type == 'employee' %}
        <a class="navbar-brand" href="{% url 'employee_dashboard' %}">TappedIn</a>
      {% elif request.user.user_type == 'employer' %}
        <a class="navbar-brand" href="{% url 'employer_dashboard' %}">TappedIn</a>
      {% endif %}
    {% else %}
      <a class="navbar-brand" href="/">TappedIn</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-bs-toggle="collapse" data-bs-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if request.user.is_authenticated %}
          {% if request.user.user_type == 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_users' %}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'list_jobs' %}">Jobs</a>
            </li>
          {% elif request.user.user_type == 'employee' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my_applications' %}">My Applications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'employee_update' %}">Account</a>
            </li>
          {% elif request.user.user_type == 'employer' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_job' %}">Add Job</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_page' %}">Account</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'employee_signup' %}">Employee Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'employer_signup' %}">Employer Signup</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
