{% extends 'base_content.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    <form action="{% url 'login' %}" class="mt-4">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    {% if error %}
    <div class="alert alert-danger mt-3">
        {{ error }}
    </div>
    {% endif %}

    <p class="mt-3 text-center">Don't have an account? <a href="{% url 'home' %}">Sign up here</a>.</p>
</div>
{% endblock %}